.zarapatos{
    margin-left: 2%;
    margin-right: 5%;
}
#aboutImage{
    margin-left: 15%;
}
#contenedoresAbout{
    padding: 3%;
}
#aboutTexto{
    margin-top: 5%;
}
#nuestrosProductos{
    margin-left: -10%;
}
#navbarNav ul{
    gap: 25%;
    margin-left: -7%;
}